
<p> Total: <%= @orders.count %> orders </p>

<table>
<% @orders.each do |order| %>
 <tr>
    <td>
    <%= link_to "#{order.car.try(:name)} #{order.created_at}", order_path(order) %>
    </td>
    <td>
        <%= order.status %>
    </td>
    <td>
        <%= link_to "結束", order_path(order), :method => :delete %>
    </td>
</tr>
<% end %>
</table>

<%= paginate @orders %>