<!DOCTYPE html>
<html>
<head>
  <title>Taxiweb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header"></div>

<div class="logo">
  <%= link_to "Taxi", root_path %>
</div>



<%= flash[:notise] %>
 <%= flash[:alert] %>





<%= yield %>

<div class="footer">
  Copyright © 2014 TAXIGOGO. All rights reserved and other such important stuff.
</div>

</body>
</html>
