<!DOCTYPE html>
<html>
<head>
  <title>Taxiweb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header"></div>

<div class="logo">
  <%= link_to "Taxi", root_path %>
</div>

<% if current_user %>

<%= link_to "我的訂單", orders_path %>
<%= link_to "新增訂單", new_order_path %> 

<div class="signout">
    <%= link_to "登出", signout_path, method:'delete'%>
</div>
<% else %>
<div class="login">
    <%= link_to image_tag("fb_login.png"), "/auth/facebook" %>
</div>

<% end %>

<span>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</span>

<%= yield %>

<div class="footer">
  Copyright © 2014 TAXIGOGO. All rights reserved and other such important stuff.
</div>

</body>
</html>
